@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+VIC+WA+NT+Hand:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.FASHION{
    padding: 20px 30px;
}

    .FASHION__female{
        padding: 10px;
    }

    .FASHION__female-h{
        font-size: 40px;
        text-shadow: 3px, 3px;
    }

    .FASHION__female-p{
        .p{
            font-family: "Monsieur La Doulaise Static", 'Edu VIC WA NT Hand', Times, serif
        }
        font-size: 25px;
        color: rgba(145, 7, 7, 0.767);
        padding-top: 10px;
        margin: auto;
        width: 50%;
    }

